.pipeline{

}

.pipeline .banner-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.pipeline .banner{
    margin: 0;
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items:first baseline;
    padding: 30px 25px;
}

.pipeline .banner h2{
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 30px;
}
.pipeline .banner p{
    font-size: 13px;
    font-weight: 500;
}

.stage-toggle{
    margin: 0 auto 0 0;
    display: flex;
    background-color: white;
    border: 2px solid var(--gray);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.stage-toggle .active{
    background-color: rgba(0, 0, 0, 0.055);
}

.stage-toggle p, .stage-toggle .active{
    padding: 10px 15px;
}

.stage-toggle p:hover{
    background-color: rgba(0, 0, 0, 0.055);
}

.opp-holder{
    margin-top: 0;
    display: flex;
    margin: 10px;
    justify-content: center;
}

.opp{
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    width: 250px;
    border: 1px solid var(--border-gray);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 10px;
    box-shadow: 1px 1px 3px var(--border-gray);
}

.opp-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10px;
    width: 270px;
}

.opp-list h2{
    font-weight: 500;
}

.opp-list .wrapper{
    margin: 0 0 10px 0;
}

.opp-list button{
    border-radius: 50%;
    border: 2px solid var(--green);
    color: var(--green);
    padding-top: 3px;
    font-weight: 800;
    margin-left: 5px;
}
.opp .project-name{
    font-weight: 500;
}

.opp .client-name{
    font-size: 13px;
    font-weight: 500;
    color: var(--gray);
}

.opp .fee{

}

